In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

In [2]:
data = pd.read_csv("Breast_cancer_data.csv")
data.head(10)

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
0,17.99,10.38,122.80,1001.0,0.11840,0
1,20.57,17.77,132.90,1326.0,0.08474,0
2,19.69,21.25,130.00,1203.0,0.10960,0
3,11.42,20.38,77.58,386.1,0.14250,0
4,20.29,14.34,135.10,1297.0,0.10030,0
5,12.45,15.70,82.57,477.1,0.12780,0
6,18.25,19.98,119.60,1040.0,0.09463,0
7,13.71,20.83,90.20,577.9,0.11890,0
8,13.00,21.82,87.50,519.8,0.12730,0
9,12.46,24.04,83.97,475.9,0.11860,0

In [3]:
data.shape

(569, 6)

In [4]:
data.diagnosis.describe()

count    569.000000
mean       0.627417
std        0.483918
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: diagnosis, dtype: float64

In [5]:
data.describe()

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.627417
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.483918
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.000000
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.000000
50%,13.370000,18.840000,86.240000,551.100000,0.095870,1.000000
75%,15.780000,21.800000,104.100000,782.700000,0.105300,1.000000
max,28.110000,39.280000,188.500000,2501.000000,0.163400,1.000000

In [6]:
data.groupby('mean_radius').mean_radius.count()

mean_radius
6.981     1
7.691     1
7.729     1
7.760     1
8.196     1
         ..
25.220    1
25.730    1
27.220    1
27.420    1
28.110    1
Name: mean_radius, Length: 456, dtype: int64

In [7]:
data.groupby('mean_texture').mean_texture.count()

mean_texture
9.71     1
10.38    1
10.72    1
10.82    1
10.89    1
        ..
31.12    1
32.47    1
33.56    1
33.81    1
39.28    1
Name: mean_texture, Length: 479, dtype: int64

In [8]:
data.groupby('mean_perimeter').mean_perimeter.count()

mean_perimeter
43.79     1
47.92     1
47.98     1
48.34     1
51.71     1
         ..
171.50    1
174.20    1
182.10    1
186.90    1
188.50    1
Name: mean_perimeter, Length: 522, dtype: int64

In [9]:
data.groupby('mean_area').mean_area.count()

mean_area
143.5     1
170.4     1
178.8     1
181.0     1
201.9     1
         ..
1878.0    1
2010.0    1
2250.0    1
2499.0    1
2501.0    1
Name: mean_area, Length: 539, dtype: int64

In [10]:
data.groupby('mean_smoothness').mean_smoothness.count()

mean_smoothness
0.05263    1
0.06251    1
0.06429    1
0.06576    1
0.06613    1
          ..
0.13710    1
0.13980    1
0.14250    1
0.14470    1
0.16340    1
Name: mean_smoothness, Length: 474, dtype: int64

In [11]:
data.groupby('diagnosis').diagnosis.count()

diagnosis
0    212
1    357
Name: diagnosis, dtype: int64

In [12]:
missing_values_count = data.isnull().sum()
missing_values_count[0:6]

mean_radius        0
mean_texture       0
mean_perimeter     0
mean_area          0
mean_smoothness    0
diagnosis          0
dtype: int64

In [13]:
data.dropna()

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
0,17.99,10.38,122.80,1001.0,0.11840,0
1,20.57,17.77,132.90,1326.0,0.08474,0
2,19.69,21.25,130.00,1203.0,0.10960,0
3,11.42,20.38,77.58,386.1,0.14250,0
4,20.29,14.34,135.10,1297.0,0.10030,0
...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0
565,20.13,28.25,131.20,1261.0,0.09780,0
566,16.60,28.08,108.30,858.1,0.08455,0
567,20.60,29.33,140.10,1265.0,0.11780,0
568,7.76,24.54,47.92,181.0,0.05263,1

In [15]:
data[pd.isnull(data.diagnosis)]

Empty DataFrame
Columns: [mean_radius, mean_texture, mean_perimeter, mean_area, mean_smoothness, diagnosis]
Index: []

In [14]:
data.diagnosis.dtype

dtype('int64')

In [16]:
data.dtypes

mean_radius        float64
mean_texture       float64
mean_perimeter     float64
mean_area          float64
mean_smoothness    float64
diagnosis            int64
dtype: object